<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand" href="#"><h1>New Contact</h1></a>
            <div class="new-contact">
                <a class="btn btn-outline-secondary" href="/" role="button">Back</a>
            </div>
        </nav>
    </div>
</div>

<%= render "form", contact: @contact%>
