@import "bootstrap/scss/bootstrap";

$white: white;
$black: black;

.navbar {
        margin-bottom: 0;
        background: $white;
}
body {
        background: $white;
        color: $black;
        font-family: 'Merriweather', sans-serif;
}
h1,
h2 {
        font-weight: bold;
}
p {
        font-size: 16px;
        color: $black;
}
a:visited {
        color: $white;
}
.jumbotron {
        background: #0048CD;
        color: $black;
        text-align: center;
        p {
                color: $black;
                font-size: 26px;
        }
}
.link {
        color: $white;
}
.btn-primary {
        color: $black;
        border-color: $black;
        margin-bottom: 5px;
}
.btn-sm {
        background-color: $white;
        display: inline-block;
}
img,
video,
audio {
        margin-top: 20px;
        max-width: 80%;
}
caption {

        float: left;
        clear: both;

}

.logo-left {
        display: block;
        margin-left: 60px;
        float: left;
}

.logo-left img {
        width: 150px;
        height: 50px;
}

.vas li {
        display: block;
        float: right;
}
