.contact-index {
    display: block;
}

.navbar {
    padding: 10px 100px 10px 100px;
}

.new-contact {
    // padding-left: -100px;
    float: right;
}

.contacts-header {
    padding: 10px 10px 10px 100px;

}

.contacts{
    padding: 10px 10px 10px 100px;
}

.contacts ul {
    margin: 0;
    padding: 0;
}

.contacts a:link {
    text-decoration: none;
}

.contacts li {
    list-style: none;
}

.photo img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.photo .edit {
    padding-top: 30px;
    float: right;
}

.details {
    padding-top: 30px;
}

.form {
    display: inline-block;
    padding-left: 100px;
}
