.contact-index {
    display: block;
}

.navbar {
    padding: 10px 100px 10px 100px;
}

.new-contact {
    // padding-left: -100px;
    float: right;
}

.contacts-header {
    padding: 10px 10px 10px 100px;

}

.contacts{
    padding: 10px 10px 10px 100px;
}

.contacts ul {
    margin: 0;
    padding: 0;
}

.contacts a:link {
    text-decoration: none;
}

.contacts li {
    list-style: none;
}
